name: Create Release

on: 
  workflow_dispatch:
    inputs:
      name:
        description: 'Release Name'
        required: true
        default: 'FI5 Ventilator Release v0.0.0'
      body:
        description: 'Release Body Message'
        required: true
        default: 'The asset provided by this release contains the whole material stored in the repository.'
      tag:
        description: 'Release Tag'
        required: true
        default: 'v0.0.0'

jobs:
  doRelease:
    name: "Release"
    runs-on: ubuntu-latest

    steps:
      - name: Release Inputs
        run: |
          echo "Release Inputs:"
          echo "- Name: ${{ github.event.inputs.name }}" 
          echo "- Body: ${{ github.event.inputs.body }}" 
          echo "- Tag: ${{ github.event.inputs.tag }}" 

      - name: Clone Branch master
        uses: actions/checkout@master
        with:
          ref: master
          path: release/master
          lfs: true

      - name: Clone Branch doc
        uses: actions/checkout@master
        with:
          ref: doc
          path: release/doc
          lfs: true

      - name: Clone Branch mech
        uses: actions/checkout@master
        with:
          ref: mech
          path: release/mech
          lfs: true

      - name: Clone Branch ele
        uses: actions/checkout@master
        with:
          ref: ele
          path: release/ele
          lfs: true

      - name: Clone Branch code
        uses: actions/checkout@master
        with:
          ref: code
          path: release/code
          lfs: true

      - name: Configure Git
        run: |
          git config --global push.default upstream
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Tag Branches
        run: |
          declare -a branches=("master" "doc" "mech" "ele" "code")
          for branch in ${branches[@]}; do
            echo "tagging ${branch}..."
            cd ${GITHUB_WORKSPACE}/release/${branch}
            git tag -a ${branch}-${{ github.event.inputs.tag }} -m "version ${{ github.event.inputs.tag }}"
            git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
            git push origin --tags
            rm -Rf .git
          done

      - name: Create Asset
        run: |
          mv ${GITHUB_WORKSPACE}/release .
          cd release
          zip -r release-${{ github.event.inputs.tag }}.zip .
          mv release-${{ github.event.inputs.tag }}.zip ..
          
      - name: Create Release
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: master-${{ github.event.inputs.tag }}
          release_name: ${{ github.event.inputs.name}}
          body: ${{ github.event.inputs.body }}

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release-${{ github.event.inputs.tag }}.zip
          asset_name: release-${{ github.event.inputs.tag }}.zip
          asset_content_type: application/zip
